*{
    margin: 0;
}







//IMG experience section
.container__experiences{
    &__flex__item{
        img{
            width: 84px;
            height: 84px;
        }
    }
}


//section SKILL

progress{
    display: block;
}


